{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus excepturi ab tenetur adipisci quo aliquid veritatis totam, vitae maxime id accusantium temporibus, tempore corporis sunt consequuntur labore odit neque magni voluptates fugit tempora voluptatem doloribus possimus! Porro excepturi doloribus illum cum voluptatum architecto recusandae vero facilis voluptate ullam. Ducimus molestias unde neque commodi inventore ullam quo repudiandae corporis ea ipsa odit eveniet architecto repellendus suscipit earum aliquam cumque delectus laborum, ipsum voluptates doloremque voluptate aspernatur! Laboriosam, atque quasi, ducimus voluptatem cumque excepturi necessitatibus odit temporibus culpa dolor repellat tempore consequuntur, expedita at voluptate nam doloribus. Saepe nesciunt deleniti cumque fugiat.</p>

<p>Website created by {{ username }}</p>

{% endblock %}